apiVersion: apps/v1
kind: Deployment
metadata:
  name: freqtrade-sandid
  namespace: freqtrade
spec:
  replicas: 1
  selector:
    matchLabels:
      app: freqtrade-sandid
  template:
    metadata:
      labels:
        app: freqtrade-sandid
    spec:
      containers:
        - name: freqtrade-sandid
          image: aabutouq/freqtrade:homelab
          ports:
            - name: api
              containerPort: 8080
              protocol: TCP
          args:
            - trade
            - --db-url
            - sqlite:////freqtrade/user_data/data/Strategy005_Sandid_Optimized-dry-01.sqlite
            - --config 
            - /freqtrade/config/config.json
            - --strategy 
            - Strategy005_SandidEdition_Optimized
          env:
            - name: FREQTRADE__DRY_RUN
              value: "true"
              
            - name: FREQTRADE__TELEGRAM__TOKEN
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_TELEGRAM_TOKEN_02

            - name: FREQTRADE__TELEGRAM__CHAT_ID
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_TELEGRAM_CHAT_ID

            - name: FREQTRADE__API_SERVER__USERNAME
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_API_USER

            - name: FREQTRADE__API_SERVER__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_API_PASSWORD

            - name: FREQTRADE__API_SERVER__JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_API_JWT

            - name: FREQTRADE__API_SERVER__WS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: freqtrade-secrets
                  key: FT_API_WS
          volumeMounts:
            - name: data
              mountPath: /freqtrade/user_data/data
            - name: config
              mountPath: /freqtrade/config
              readOnly: true
      imagePullSecrets:
        - name: aabutouq-registry-secret
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: freqtrade-data
        - name: config
          configMap:
            name: freqtrade-config
            optional: false
