- name: Install nfs-common on target servers
  hosts: homelab
  remote_user: ubuntu
  become: yes
  tasks:
    - name: Ensure nfs-common is installed
      ansible.builtin.apt:
        name: nfs-common
        state: present
        update_cache: yes
